@mixin box-shadow($x: 0, $y: 2px, $blur: 3px, $color: rgba(0, 0, 0, 0.28)) {
  box-shadow: $x $y $blur $color;
}

@mixin ellipsis-basic() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin ellipsis($substract: 0) {
  width: 100% - $substract;
  @include ellipsis-basic();
}

@mixin user-select() {
  user-select: none;
}
