& {
  position: relative;
  border: 1px solid $border-color;
  overflow: hidden;
  &-column-resizing {
    cursor: ew-resize;
    @include user-select();
  }
  &-row {
    position: absolute;
    top: 0;
    width: 100%;
    height: 36px;
    border-bottom: 1px solid $border-color;
    overflow: hidden;
  }
  &-hover &-row:hover {
    background: $head-background;
  }
  &-hover &-row:hover &-cell-group {
    background: $head-background;
  }
  &-hover &-row:hover &-cell {
    background: $head-background;
  }
  &-row-header {
    background: $head-background;
  }
  &-row-header &-cell {
    background: $head-background;
  }
  &-row-header &-cell-group-shadow {
    z-index: 5;
    @include box-shadow(0, 2px, 3px, rgba(0, 0, 0, 0.28));
  }
  &-hover &-row:hover &-cell-group {
    background: $head-background;
  }
  &-hover &-row:hover &-cell {
    background: $head-background;
  }
  &-header-row-wrapper {
    position: relative;
    z-index: 2;
  }
  &-body-row-wrapper {
    position: relative;
    overflow: hidden;
    z-index: 0;
  }
  &-body-info {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -20px;
    line-height: 40px;
    text-align: center;
    .icon {
      margin: 0 10px;
    }
    &-wheel-area {
      width: 100%;
    }
  }
  &-cell {
    position: absolute;
    display: block;
    height: 36px;
    border-width: 0;
    border-style: solid;
    border-color: $border-color;
    background: $body-background;
    overflow: hidden;
    white-space: normal;
    &.first {
      border-left-width: 0;
    }
    &-wrap1 {
      display: table;
    }
    &-wrap2 {
      display: table-row;
    }
    &-wrap3 {
      display: table-cell;
      vertical-align: middle;
    }
    &-content {
      padding: 8px;
      @include ellipsis();
    }
    &-header {
      &-sortable {
        cursor: pointer;
      }
      &-sort-wrapper {
        display: inline-block;
      }
      &-icon-sort {
        width: 10px;
        height: 10px;
      }
      &-icon-sort:after {
        font-family: "-webkit-pictograph";
        content: '↑↓';
      }
      &-icon-sort-asc:after {
        color: $H500;
        content: '↑';
      }
      &-icon-sort-desc:after {
        color: $H500;
        content: '↓';
      }
    }
  }
  &-column-resize-spanner {
    position: absolute;
    width: 6px;
    height: 36px;
    outline: none;
    cursor: ew-resize !important;
    z-index: 3;
    &:hover {
      background: $resize-mouse-color;
    }
  }
  &-cell-group {
    &-fixed-left {
      position: absolute;
      background: $body-background;
      z-index: 4;
    }
    &-fixed-right {
      position: absolute;
      margin-left: 10px;
      background: $body-background;
      z-index: 4;
    }
    &-left-shadow {
      @include box-shadow(3px, 0, 5px, rgba(9, 9, 9, 0.08));
    }
    &-shadow,
    &-right-shadow {
      @include box-shadow(-3px, 0, 5px, rgba(9, 9, 9, 0.08));
    }
  }
  &-mouse-area {
    position: absolute;
    top: 0;
    left: -1px;
    display: none;
    width: 1px;
    background: $resize-mouse-color;
    z-index: 6;
  }
  &-bordered &-cell {
    border-width: 0 1px 0 0;
  }
  &-word-wrap &-cell-content {
    white-space: unset;
    word-wrap: break-word;
    word-break: break-all;
  }
  &-row-expanded {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 46px;
    padding: 10px;
    border-top: 1px solid #eee;
    background: #f5f5f5;
    z-index: 4;
  }
  &-loader-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    visibility: hidden;
  }
  &-loader {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -20px;
    line-height: 40px;
    text-align: center;
    &-icon {
      position: relative;
      display: inline-block;
      padding-top: 3px;
      margin-right: 12px; // Make sure loader vertical-align center
      @include set-side-length(18px);
      @include loader-adjust-hue;
    }
  }
  &-loading &-loader-wrapper {
    visibility: visible;
  }
}
